<style>
  body {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box,
.login-box {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.register-left,
.login-left {
  background: linear-gradient(to bottom, #f2f5f7, #dee5eb);
  padding: 2rem;
}

.icon-box {
  background-color: #e6e6e6;
  border-radius: 20px;
  padding: 1.2rem;
}

.icon-box img {
  height: 24px;
  margin-bottom: 0.5rem;
}

.register-right,
.login-right {
  padding: 2rem;
}

.form-control {
  border-radius: 8px;
}

.small-text {
  font-size: 0.875rem;
}
</style>