  {% extends 'static_pages/base.html' %}
  {% load static %}
  {% block start %}
  <div class="container-fluid">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-wrap="true">
      <!-- Carousel Slides -->

        <div>
          <img src="{% static 'images/gifting-banner.webp' %}" class="d-block w-100" alt="Slide 1">
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <img src="https://www.boat-lifestyle.com/cdn/shop/files/Group_1707478748_4cec1f82-e507-4058-9fce-7403eb3fff5b_784x.png?v=1739186984"
               style="height:328px; width:784px;">
        </div>

    </div>
  </div>
  {% endblock %}











