
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="container-fluid">
<footer class="bg-dark text-light pt-5 pb-4" style="padding: 0 20px 0 20px">


    <div class="row">

      <!-- Shop -->
      <div class="col-md-3 col-6 mb-4">
        <h5 class="text-uppercase mb-3">Shop</h5>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-light text-decoration-none">Smart Watches</a></li>
          <li><a href="#" class="text-light text-decoration-none">Wireless Earbuds</a></li>
          <li><a href="#" class="text-light text-decoration-none">Neckbands</a></li>
          <li><a href="#" class="text-light text-decoration-none">Speakers</a></li>
        </ul>
      </div>

      <!-- Help -->
      <div class="col-md-3 col-6 mb-4">
        <h5 class="text-uppercase mb-3">Help</h5>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-light text-decoration-none">Track Order</a></li>
          <li><a href="#" class="text-light text-decoration-none">Return Policy</a></li>
          <li><a href="#" class="text-light text-decoration-none">Warranty</a></li>
          <li><a href="#" class="text-light text-decoration-none">Service Centers</a></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-md-3 col-6 mb-4">
        <h5 class="text-uppercase mb-3">Company</h5>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-light text-decoration-none">Blogs</a></li>
          <li><a href="#" class="text-light text-decoration-none">Corporate Orders</a></li>
        </ul>
      </div>

      <!-- Newsletter & Social -->
      <div class="col-md-3 col-12 mb-4">
        <h5 class="text-uppercase mb-3">Join Newsletter</h5>
        <form class="d-flex mb-3">
          <input type="email" class="form-control form-control-sm me-2" placeholder="Enter email">
          <button class="btn btn-sm btn-primary">Subscribe</button>
        </form>
        <div class="d-flex gap-3">
          <a href="#" class="text-light"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

    </div>

    <hr class="border-light">

    <div class="text-center small">
      &copy; {% now "Y" %} boAt Lifestyle. All Rights Reserved.
    </div>
  </div>
</footer>
